<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name=" APU Test Suite">
<listeners>
<listener class-name="utils.ExtentReporter"></listener>
</listeners>
  <test thread-count="2" name="Test">
    <classes>
      <class name="testcases.ProductsTest"/>
      <class name="testcases.ProductDataDriven"/>
       <class name="testcases.UserTests"/>
        <class name="testcases.CartTests"/>
       <class name="testcases.LoginTests"/>
       <class name="testcases.SchemaTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
